@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ELEPHNT";
  font-display: swap;
  src: url("../../public/fonts/ELEPHNT.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  font-display: swap;
  src: url("../../public/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Medium";
  font-display: swap;
  src: url("../../public/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  font-display: swap;
  src: url("../../public/fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab";
  font-display: swap;
  src: url("../../public/fonts/RobotoSlab.ttf") format("truetype");
}
@font-face {
  font-family: "Rufina-Bold";
  font-display: swap;
  src: url("../../public/fonts/Rufina-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Rufina-Regular";
  font-display: swap;
  src: url("../../public/fonts/Rufina-Regular.ttf") format("truetype");
}

@layer base {
  .wrapper {
    @apply pt-[77px] px-[20px] pb-[83px] lg:px-[89.5px] lg:pt-[54px] xl:px-[175px] lg:pb-[166px]
  }
}

.inner {
  max-width: 1728px;
}